<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MESSENGER</title>
    <link rel="stylesheet" href="homestyle.css">
    <link rel="stylesheet" href="background.css">
    <link rel="stylesheet" href="/navbar.css">

</head>
<body>
    <div class="background-decor">
        <!-- Four animated blobs for depth and vibrancy -->
        <div class="blob blob1"></div>
        <div class="blob blob2"></div>
        <div class="blob blob3"></div>
        <div class="blob blob4"></div>
    </div>
    <div class="main glass">
        <h2>MESSENGER</h2>
        <h3>Welcome to the Messenger App</h3>
        <a href="/chats" class="start-chat-button">See All Chats</a>
        <p class="footer-text">© 2023 Messenger App</p>
        <p class="footer-text">Created by Jashanpreet Singh</p>
    </div>
</body>
</html>
